<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head')%>
    </head>
    <body>
      <h1>Hello World Simple REST API Node JS</h1>
        <%- include('../partials/script') %>
    </body>
</html>