<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head')%>
    </head>
    <body>
        <h1>Hello World Simple REST API Node JS</h1>
        <br>
        <h3>Requirement</h3>
        <ul>
            <li>NodeJS installed in computer</li>
            <li>VS Code</li>
        </ul>

        <%- include('../partials/script') %>
    </body>
</html>